.navContainer{
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 9999;
    padding: 20px 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.text{
    width: auto;
    padding-right: 8px;
    font-size: 25px;
    text-align: center;
    color: #F28705;
    
}
.toggle{
    width:3%;
    height: 25px;
    background-color: white;
    border-radius: 15px;
}

.menu{
    position: fixed;
    right: 0;
    height: 100vh;
    width: 30%;
    background-color: gray;
    opacity: 70%;
    z-index: 9998;
    padding: 7vh 2vw 0px 2vw;
}

.menuItem{
    list-style: none;
    margin-top: 15px;
    font-size: 40px;
    border-bottom: 1px solid white;
}

.menuItem:hover{
    background-color: beige;
    cursor: pointer;
}
