.mainContainer{
    width: 100vw;
    height: 500vh;
    position: absolute;    
    background-color: #292929;
    z-index: 2;
    color: white;
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.contentArea{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textArea{
    position: absolute;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    left: 45%;
}

.progressbarArea{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20%;
    width: 100%;
    height: auto;
    color: #F28705;
}
.progressbarArea > h2{
    padding-left: 7px;
}
.progressbar{
    position: absolute;
    left: 55%;
    top: calc(50% - 1px);
    width: 30%;
    height: 2px;
    background-color: #F28705;
    z-index: 10;
    transform-origin: 0%;
}
.progressbarBackground{
    position: absolute;
    top: calc(50% - 1px);
    left: 55%;
    width: 30%;
    height: 2px;
    background-color: white;
}