.mainContainer{
    width: 100vw;
    height: 770vh;

    background-color: #292929;
    z-index: 1;

    margin-top: -150vh;
}

.stickyContainer {
  position: sticky;
  top: 0;
  
  height: 100vh;
  width: 100%;

  overflow: hidden;
}

.contentArea{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textArea{
    position: relative;
    left: 45%;
    top: -3%;
    width: 55%;
    font-size: 1rem;
    padding-right: 100px;
    gap: 10px;
    white-space: pre-wrap;
}
.title{
    font-size: 1.7rem;
    margin-bottom: 20px;
}
.subTitle{
    font-size: 0.8rem;
}


.skillsWrapper {
    position: relative;
    left: 35%;
    top: -3%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem; 
}
.skillCategory {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: start;
}
.categoryTitle {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding-bottom: 0.5rem; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); 
    width: 80%; 
}
.skillList {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.9;
    margin: 0;
    line-height: 1.6;
    width: 80%;
}
.highlight{
    color: #F28705;
}

.progressbarArea{
    position: absolute;
    bottom: 10%;
    left: 49%;
    width: 100%;
    height: 40px;
    
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: start;
    color: #F28705;
}

.progressNum{
    padding-left: 5px;
}

.barArea{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10%;
    min-width: 240px;
    margin-left: 20px;
    align-items: center;
} 
.progressbar{
    width: 100%;
    height: 2px;
    background-color: #F28705;
    z-index: 10;
    transform-origin: 0%;
}
.progressbarBackground{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
}

.profilePhotoBox{
    position: absolute;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePhoto{
    height: 50%;
}