.mainContainer{
    position: relative;
    width: 100vw;
    height: auto;

    margin-top: -100vh;
    
    z-index: 15;

    background: #191919;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px 20px 0px 20px; 
    color: #fff;
}
.pageName{
    margin-top: 80vh;
    width: 100%;
    max-width: 800px;
    height: 100px;
}
.careerBox {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.careerHeader {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333; 
}
.careerHeader h1 {
    font-size: 2rem;
    font-weight: 700;
}

.careerBody {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 20px;
}

.careerInfo {
    flex: 1; 
    min-width: 200px;
}

.job {
    font-size: 1.2rem;
    color: #F28705; 
    font-weight: 600;
    margin-bottom: 10px;
}

.duration {
    font-size: 1rem;
    color: #888; 
    font-weight: 400;
}

.careerWork {
    flex: 2; 
}

.footerBox{
    height: 20vh;
}