.mainContainer{
    width: 100vw;
    height: 200vh;
    z-index: 10;
    background-color: transparent;
}
.stickyArea{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.heroSection{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;
    background-color: #0D0D0D;
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.textArea{
    width: 100%;
    height: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title{
    width: 100%;
    font-size: 3rem;
    padding: 0px 50px 0px 50px;
}
.title > h1:first-child{
    justify-self: end;
}
.title > h1:last-child{
    justify-self: end;
    padding-right: 200px;
}

.subTitle{
    padding-left: 50%;
    width: 100%;
    margin: 20px;
    font-size: 1.3rem;
}
.subTitle > h3{
    width: 100%;
    justify-self: start;
}


.icon{
    position: absolute;
    bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 10;
}