.mainContainer{
    width: 100vw;
    height: 200vh;
    position: absolute;
}
.background{
    width: 100vw;
    height: 100vh;

    position: fixed;
    background-color: #0D0D0D;
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textArea{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 4rem;
}

.title > h1:first-child{
    justify-self: end;
    padding-right: 15%;
}

.title > h1:last-child{
    justify-self: end;
    padding-right: 20%;
}

.subTitle{
    margin-top: 20px;
    font-size: 2rem;
    padding-left: 50%;
}
.subTitle > h3{
    justify-self: start;
}
.icon{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 10;
}