.mainContainer{
    position: absolute;
    z-index: 10;
    top: 500vh;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #0D0D0D;
}

.topArea{
    margin: 20px 20px 0 20px;
    width: calc(100% - 40px);
    height: 10vh;
    display: flex;
    align-items: flex-start;
}
.topLine{
    width: 100px;
    height: 7vh;
    border-top:0.5px solid #F28705;
    border-left:0.5px solid #F28705;
    margin-right: 10px;
    margin-top: 10px;
}

.projectArea{
    padding-top: 60px;
    margin: 0 20px 0 20px;
    width: calc(100% - 40px);
    height: 80vh;
}
.projectheader{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.headerLine{
    width: 50px;
    height: 0.5px;
    background-color: #F28705;
    margin-right: 10px;
}
.headerLineOvercoat{
    position: absolute;
    height: 1px;
    background-color: #F28705;
    margin-right: 10px;
    box-shadow: 0 0 10px 1px #F28705;
}
.projectMain{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.mainImege{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
}
.leftLine{
    position: absolute;
    top: 30px;
    background-color: #F28705;
    width: 0.5px;
    margin-left: 20px;
    overflow: visible;
}
.overcoat{
    width: 100%;
    background-color: #F28705;
    position: 'absolute';
    box-shadow: 0 0 10px 1px #F28705;
    top: 0;
    left: 0;
}