.mainContainer{
    position: absolute;
    top: 500vh;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;

    background-color: #0D0D0D;
}

.topArea{
    margin: 0 20px 0 20px;
    width: calc(100% - 40px);
    height: 80px;
    display: flex;
    align-items: flex-end;
}
.topLine{
    width: 100px;
    height: 12px;
    border-top:2px solid #F28705;
    border-left:2px solid #F28705;
    margin-right: 10px;
}

.projectArea{
    padding-top: 60px;
    margin: 0 20px 0 20px;
    width: calc(100% - 40px);
    height: 600px;
}
.projectheader{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.headerLine{
    width: 50px;
    height: 2px;
    background-color: #F28705;
    margin-right: 10px;
}

.projectMain{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
.mainImege{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}
.mainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
}
.leftLine{
    position: absolute;
    top: 80px;
    background-color: #F28705;
    height: calc(650px * 2);
    width: 2px;
    margin-left: 20px;
}